.apartment {
    margin-bottom: 186px;
    height: 717px;
    width: 100%;
    background-image: url('../resources/apartments-img.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

.apartments__text {
    height: 597px;
    flex-direction: column;
    justify-content: space-between;
}

.apartments__gallery {
    max-width: 277px;
    font-size: 22px;
    line-height: 30.05px;
    text-transform: uppercase;
    color: #fff;
}

.apartments__descr {
    max-width: 450px;
    font-weight: 400;
    font-size: 30px;
    line-height: 40.98px;
    letter-spacing: -0.8px;
    color: #fff;
}
