@import "../styles/projects.css";
@import "../styles/services.css";
@import "../styles/feetback.css";
@import "../styles/apartments.css";
@import "../styles/contacts.css";
@import "../styles/footer.css";
@import "../styles/popup.css";

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: 'Manrope', sans-serif;
    background-color: #F5F5F5;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button {
    cursor: pointer;
}

.body_fixed {
    overflow: hidden;
} 

.flex {
    display: flex;
}

.container {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0px 15px;
    max-width: 1180px;
}

.section-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 24.59px;
    letter-spacing: -0.9px;
}

.header {
    padding-top: 33px;
    margin-bottom: 70px;
    align-items: center;
}

.logo {
    margin-right: auto;
}

.header-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 24.59px;
    letter-spacing: -0.4px;
    color: #121212;
    transition: color 0.3s ease-in-out;
}

.header-link:hover {
    color: #949393;
    border-bottom: 1px solid #949393;
}

.header-nav__item:not(:last-child) {
    margin-right: 60px;
}

.hero {
    padding-top: 70px;
}

.hero__title {
    margin-bottom: 30px;
    max-width: 1000px;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1.7px;
}

.hero__descr {
    position: absolute;
    bottom: 40px;
    left: 40px;
    max-width: 450px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27.32px;
    letter-spacing: -1px;
    color: #fff;
}

.hero__text {
    position: relative;
    height: 500px;
    width: 100%;
    background-image: url(../resources/first-img.jpg);
    background-repeat: no-repeat;  
}

.about {
    padding-top: 150px;
}

.about__title {
    margin-bottom: 30px;
}

.about__descr {
    margin-bottom: 29px;
    max-width: 1100px;
    font-weight: 400;
    font-size: 45px;
    line-height: 61.47px;
    letter-spacing: -1px;
    color: #121212;
}

.about__btn {
    padding: 19.5px 37px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27.32px;
    color: #fff;
    letter-spacing: -0.3px;
    background-color: #AD1818;
    border: none;
    border-radius: 5px;
}