@media (max-width: 1179px) {
    .container {
        padding: 0px 17px;
        width: 100%;
    }

    .hero {
        margin-bottom: 120px;
    }

    .hero__title {
        max-width: 802px;
        font-size: 50px;
        line-height: 60px;
    }

    .hero__text {
        height: 400px; 
        background-size: cover;
        background-position: 50%;
    }

    .hero__descr {
        bottom: 30px;
        left: 40px;
        max-width: 430px;
    }

    .about {
        margin-bottom: 120px;
    }

    .about__descr {
        margin-bottom: 33px;
        max-width: 700px;
        font-size: 35px;
        line-height: 47.81px;
    }

    .projects {
        margin-bottom: 103px;
    }

    .projects__list {
        margin-bottom: 102px;
    }

    .projects__item:not(:last-child) {
        margin-bottom: 80px;
    }

    .projects__descr {
        margin-bottom: 10px;
        font-size: 25px;
        line-height: 34.15px;
    } 

    .services {
        padding: 150px 0px 120px;
    }

    .services__title {
        margin-bottom: 30px;
        color: #fff;
    }
    
    .services__list {
        margin-bottom: 80px;
        column-gap: 8px;
        row-gap: 89px;
    } 

    .services__img {
        height: 315px;
    }

    .services__descr {
        width: 393px;
        font-size: 25px;
        line-height: 34.15px;
    }
    
    .services__price {
        padding: 6px 26px;
        top: 31px;
        left: 29px;
        font-size: 20px;
        line-height: 27.32px;
    }

    .feetback {
        padding: 117px 0px 120px;
    }
    
    .feetback__title {
        margin-bottom: 30px;
    }
    
    .feetback__list {
        flex-wrap: wrap;
        column-gap: 10px;
        row-gap: 80px;
    }

    .feetback__item:nth-child(3) {
        width: 694px;
    }

    .feetback-item__title {
        margin-bottom: 25px;
        font-size: 35px;
        line-height: 47.81px;
    }
    
    .feetback__descr {
        font-size: 20px;
        line-height: 27.32px;
    }

    .apartment {
        margin-bottom: 120px;
        height: 536px;
        width: 100%;
        background-image: url('../resources/apartments-img-tabl.png');
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
    }
    
    .apartments__gallery {
        font-size: 20px;
        line-height: 27.32px;
    }
    
    .apartments__descr {
        max-width: 377px;
        font-size: 25px;
        line-height: 34.15px;
    }
}

@media (max-width: 767px) {
    .container {
        padding: 0px 13px;
    }
    
    .section-title {
        font-size: 14px;
        line-height: 19.12px;
    }

    .hero {
        margin-bottom: 80px;
    }

    .hero__title {
        font-size: 30px;
        line-height: 31.62px;
    }

    .hero__text {
        height: 304px; 
        background-size: cover;
        background-position: 50%;
    }

    .hero__descr {
        bottom: 15px;
        left: 15px;
        max-width: 312px;
        font-size: 16px;
        line-height: 21.86px;
    }

    .about {
        margin-bottom: 80px;
    }

    .about__descr {
        width: 100%;
        font-size: 22px;
        line-height: 30.05px;
    }

    .about__btn {
        width: 100%;
        font-size: 16px;
        line-height: 21.68px;
    }

    .projects {
        margin-bottom: 144px;
    }

    .projects__list {
        margin-bottom: 60px;
    }

    .projects__item:not(:last-child) {
        margin-bottom: 49px;
    }

    .projects__img {
        margin-bottom: 20px;
    }

    .projects__descr {
        margin-bottom: 11px;
        font-size: 18px;
        line-height: 24.59px;
    }

    .projects__btn {
        height: 100px;
        font-size: 22px;
        line-height: 30.05px;
        border: 0.76px solid #AD1818;
        border-radius: 3.8px;
    }

    .services {
        padding: 80px 0px;
    }

    .services__title {
        margin-bottom: 20px;
    }
    
    .services__list {
        margin-bottom: 60px;
        flex-direction: column;
        gap: 60px;
    } 

    .services__item {
        width: 100%;
    }

    .services__img {
        margin-bottom: 10px;
        width: 100%;
        height: 240px;
    }

    .services__descr {
        width: 299px;
        font-size: 18px;
        line-height: 24.59px;
    }
    
    .services__price {
        padding: 5px 23px;
        top: 23px;
        left: 24px;
        font-size: 14px;
        line-height: 19.12px;
    }

    .services__btn {
        padding: 36.3px 0px;
        font-size: 22px;
        line-height: 30.05px;
        border-radius: 3.8px;
    }

    .feetback {
        padding: 80px 0px;
    }
    
    .feetback__title {
        margin-bottom: 22px;
        font-size: 14px;
        line-height: 19.12px;
    }
    
    .feetback__list {
        flex-direction: column;
        gap: 80px;
    }

    .feetback__item {
        width: 100%;
    }

    .feetback__item:nth-child(3) {
        width: 100%;
    }

    .feetback-item__title {
        margin-bottom: 10px;
        font-size: 25px;
        line-height: 34.15px;
    }
    
    .feetback__descr {
        font-size: 16px;
        line-height: 21.86px;
    }
}

@media (max-width: 576px) {
    .hero__text {
        background-image: url('../resources/first-img-mob.png');
    }

    .projects__img {
        height: 250px;
    }
}