@media (max-width: 1030px) {
    .contacts {
        padding: 121px 0px 81px;
    }

    .contacts__phone {
        font-size: 45px;
        line-height: 60px;
        letter-spacing: -0.9px;
    }

    .mail::before {
        width: 22px;
        bottom: 85px;
    }

    .contacts__mail {
        font-size: 45px;
        line-height: 45px;
        letter-spacing: -1.6px;
    }
}

@media (max-width: 961px) {
    .container {
        padding: 0px 15px;
        width: 100%;
    }

    .header-nav {
        display: none;
    }

    .burger-btn {
        display: flex;
        position: absolute;
        right: 0;
        flex-direction: column;
        align-items: flex-end;
        width: 50px;
        height: 10px;
        z-index: 200;
        background-image: url('../resources/burger-open.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
    }

    .burger-btn_open {
        width: 21px;
        height: 21px;
        right: 10px;
        background-image: url('../resources/burger-close.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
    }

    .hero {
        padding-top: 74px;
    }

    .hero__title {
        max-width: 802px;
        font-size: 50px;
        line-height: 60px;
    }

    .hero__text {
        height: 400px; 
        background-size: cover;
        background-position: 50%;
    }

    .hero__descr {
        bottom: 30px;
        left: 40px;
        max-width: 430px;
    }

    .about {
        padding-top: 120px;
    }

    .about__descr {
        margin-bottom: 33px;
        max-width: 700px;
        font-size: 35px;
        line-height: 47.81px;
    }

    .about__btn {
        letter-spacing: -0.5px;
    }

    .projects {
        padding: 120px 0px 104px;
    }

    .projects__list {
        margin-bottom: 98px;
        gap: 77px;
    }

    .projects__descr {
        margin-bottom: 10px;
        font-size: 25px;
        line-height: 34.15px;
    } 

    .services {
        padding: 150px 0px 120px;
    }

    .services__title {
        margin-bottom: 30px;
        color: #fff;
    }
    
    .services__list {
        margin-bottom: 82px;
        column-gap: 8px;
        row-gap: 87px;
    } 

    .services__img {
        margin-bottom: 16px;
        height: 315px;
    }

    .services__descr {
        width: 393px;
        font-size: 25px;
        line-height: 34.15px;
    }
    
    .services__price {
        padding: 6px 26px;
        top: 31px;
        left: 33px;
        font-size: 20px;
        line-height: 27.32px;
        letter-spacing: -0.1px;
    }

    .popup__content {
        padding: 94px 94px 86px 45px;
        width: 636px;
    }

    .popup__close-btn {
        top: 46px;
        right: 59px;
    }

    .feetback {
        padding: 119px 0px;
    }
    
    .feetback__title {
        margin-bottom: 30px;
    }
    
    .feetback__list {
        flex-wrap: wrap;
        column-gap: 19px;
        row-gap: 71px;
    }

    .feetback__item {
        width: calc(50% - 10px);
    }

    .feetback__item:nth-child(3) {
        width: 694px;
    }

    .feetback-item__title {
        margin-bottom: 19px;
        font-size: 35px;
        line-height: 55.81px;
    }
    
    .feetback__descr {
        font-size: 20px;
        line-height: 27.32px;
        letter-spacing: -0.8px;
    }

    .apartment {
        height: 536px;
        width: 100%;
    }

    .apartments__gallery {
        height: 100%;
    }

    .apartments__text-wrapper {
        padding-left: 33px;
        box-sizing: border-box;
        top: 80px;
        bottom: 80px;
    }

    .apartments__control-wrapper {
        padding-left: 33px;
        bottom: 151px;
    }
    
    .apartments__title {
        margin-bottom: 283px;
        font-size: 20px;
        line-height: 27.32px;
    }
    
    .apartments__descr {
        max-width: 370px;
        font-size: 25px;
        line-height: 34.15px;
    }

    .phone {
        margin-right: 117px;
    }
}

@media (max-width: 804px) {
    .phone {
        margin-right: auto;
    }
}

@media (max-width: 767px) {
    .container {
        padding: 0px 13px;
    }
    
    .section-title {
        font-size: 14px;
        line-height: 19.12px;
    }

    .hero {
        padding-top: 61px;
    }

    .hero__title {
        margin-bottom: 24px;
        max-width: 300px;
        font-size: 30px;
        line-height: 31.62px;
    }

    .hero__text {
        height: 304px; 
        background-size: cover;
        background-position: 50%;
    }

    .hero__descr {
        bottom: 15px;
        left: 15px;
        max-width: 250px;
        font-size: 16px;
        line-height: 21.86px;
    }

    .about {
        padding-top: 80px;
    }

    .about__title {
        margin-bottom: 20px;
    }

    .about__descr {
        margin-bottom: 30px;
        width: 100%;
        font-size: 22px;
        line-height: 30.05px;
    }

    .about__btn {
        padding: 14.5px 23px;
        font-size: 16px;
        line-height: 21.68px;
        letter-spacing: 0px;
    }

    .projects {
        padding: 80px 0px 144px;
    }

    .projects__title {
        margin-bottom: 20px;
    }

    .projects__list {
        margin-bottom: 60px;
        gap: 50px;
    }

    .projects__img {
        margin-bottom: 20px;
    }

    .projects__descr {
        margin-bottom: 11px;
        font-size: 18px;
        line-height: 24.59px;
        letter-spacing: -0.6px;
    }

    .projects__link {
        font-size: 16px;
        line-height: 22.32px;
    }

    .projects__btn {
        height: 100px;
        font-size: 22px;
        line-height: 30.05px;
        letter-spacing: -0.6px;
        border: 0.76px solid #AD1818;
        border-radius: 3.8px;
    }

    .services {
        padding: 80px 0px;
    }

    .services__title {
        margin-bottom: 20px;
        padding-left: 5px;
    }
    
    .services__list {
        margin-bottom: 66px;
        flex-direction: column;
        gap: 66px;
    } 

    .services__item {
        width: 100%;
    }

    .services__img {
        margin-bottom: 10px;
        width: 100%;
        height: 240px;
    }

    .services__descr {
        width: 299px;
        font-size: 18px;
        line-height: 24.59px;
        letter-spacing: -0.5px;
    }
    
    .services__price {
        padding: 5px 23px;
        top: 23px;
        left: 24px;
        font-size: 14px;
        line-height: 19.12px;
    }

    .services__btn {
        padding: 36.3px 0px;
        font-size: 22px;
        line-height: 30.05px;
        border-radius: 3.8px;
    }

    .popup {
        padding: 37px 0px;
    }

    .popup__content {
        padding: 80px 16px;
        box-sizing: border-box;
        width: 361px;
        overflow: scroll;
    }
    
    .popup__title {
        margin-bottom: 11px;
        font-size: 25px;
        line-height: 34.15px;
    }
    
    .popup__descr {
        margin-bottom: 48px;
        padding: 0px 70px;
        font-size: 14px;
        line-height: 19.12px;
    }

    .popup__inputs {
        margin-bottom: 62px;
        flex-direction: column;
        gap: 36px;
    }
    
    .popup__input {
        height: 35px;
        font-size: 18px;
        line-height: 24.59px;
    }
    
    .popup__input::placeholder{
        font-size: 18px;
        line-height: 24.59px;
    }
    
    .popup__close-btn {
        top: 43px;
        right: 36px;
        width: 18px;
        height: 18px;
    }

    .feetback {
        padding: 78px 0px 86px;
    }
    
    .feetback__title {
        margin-bottom: 22px;
        font-size: 14px;
        line-height: 19.12px;
    }
    
    .feetback__list {
        flex-direction: column;
        gap: 75px;
    }

    .feetback__item {
        width: 100%;
    }

    .feetback__item:nth-child(3) {
        width: 100%;
    }

    .feetback-item__title {
        margin-bottom: 10px;
        font-size: 25px;
        line-height: 35.15px;
        letter-spacing: -0.9px;
    }
    
    .feetback__descr {
        font-size: 16px;
        line-height: 21.86px;
        letter-spacing: -0.5px;
    }

    .apartment {
        height: 408px;
    }

    .apartments__text-wrapper {
        padding-left: 0;
        top: 60px;
        bottom: 60px;
    }

    .apartments__control-wrapper {
        padding-left: 0;
        bottom: 45%;
    }

    .apartments__controls {
        justify-content: space-between;
    }
    
    .apartments__title {
        margin-bottom: 216px;
        font-size: 14px;
        line-height: 19.12px;
    }
    
    .apartments__descr {
        max-width: 270px;
        font-size: 19px;
        line-height: 25.97px;
        letter-spacing: -0.6px;
    }

    .contacts {
        padding: 80px 0px;
    }

    .contacts__title {
        margin-bottom: 57px;
    }

    .contacts__descr {
        flex-direction: column;
        gap: 58px;
    }

    .phone {
        margin-right: 0;
    }

    .phone::before {
        bottom: 67px;
        height: 16px;
        width: 11px;
    }

    .contacts__phone {
        font-size: 35px;
        line-height: 45.62px;
        letter-spacing: -0.9px;
    }

    .mail::before {
        bottom: 67px;
        height: 18px;
        width: 15px;
    }

    .contacts__mail {
        font-size: 35px;
        line-height: 45.62px;
        letter-spacing: -1.6px;
    }

    .footer {
        padding: 30px 0px 30px 0px;
    }

    .footer__list {
        margin-bottom: 40px;
        gap: 30px;
    }
    
    .footer__link {
        font-size: 12px;
        line-height: 16.39px;
        letter-spacing: -0.3px;
    }

    .footer__name {
        font-size: 13px;
        line-height: 17.76px;
        letter-spacing: -0.4px;
    }
}

@media (max-width: 576px) {
    .hero__text {
        background-image: url('../resources/first-img-mob.png');
    }

    .projects__img {
        height: 250px;
    }
}